<h1> Bem vindo ao FreelancingHUB </h1>

<% if contractor_signed_in? %>
    <%= link_to 'Cadastrar novo projeto', new_project_path %>
    <br />
<% end %>

<%= render 'projects/summary_list_of_projects', projects: @projects %>

