<% if projects.blank? %>
    <p> Ainda não existem projetos cadastrados </p>
<% else %>
  <% projects.each do |project| %>
    <%= link_to project.title, project_path(project) %>
    <br />
    <%= project.description %>
    <br />
    <%= project.desired_skills %>
    <br />
    <br />
  <% end %>
<% end %>