<h1> Perfil do contratante <%= @contractor.email %> </h1>

<h4> <%= link_to 'Cadastrar novo projeto', new_project_path %> </h4>
<h3> Meus projetos: </h3>
<%= render 'projects/summary_list_of_projects', projects: @projects %>