<h1> Nova proposta para seu projeto </h1>

<p>
Olá, <%= @proposal.contractor.email %>
<br />
Seu projeto '<%= @proposal.project.title %>' recebeu uma nova proposta 
do freelancer <%= @proposal.freelancer.social_name %>!
</p>